body{

    
  font-family: Arial, Helvetica, sans-serif;
  margin: 2% 6%;
  background: url("https://i.imgur.com/MJAkxbh.png");
  
  
  
}

.exp-name{
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  background-color: #60282e;
  
  color: #ffff;
    
}

.exp-work{
  text-align: center;    
  background-color: #60282e;  
  color: #ffff;
}

.exp-info{
  
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #ffff;
}
h2{
  margin: 7% 3%;
}

h3{
  margin: -1% -4%;
}
h4{
  margin: 4% 2%;
}
ul{
  margin: 2% 5%;
}

h5{
  margin: 0% 6%;
}
